<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sharing Image</title>
</head>
<body>
<script> const i = prompt("Nhập mật khẩu:");
if (i === "KeSiTinh") {
    document.getElementById("myBtn").onclick = window.location.replace(
        'https://firebasestorage.googleapis.com/v0/b/sharingimageqrcode.appspot.com/o/images%2F1?alt=media&token=cfa2cdbf-ba9b-4ecb-b8d9-09b041078abd');
}
</script>
<h2 style="alignment: center"> Mât khẩu không đúng, vui lòng reload website và thử lại</h2>
</body>
</html>